* {

  margin: 0;

  padding: 0;

  color: #FFF;

  outline: none;

  box-sizing: border-box;

  scroll-behavior: smooth;

  font-family: 'Poppins', Sans-Serif;

}

.container {

  width: 80%;

  margin: auto;

}

header {

  background-image: url('../imgs/background.jpg');

  height: 600px;

  background-size: cover;

  background-repeat: no-repeat;

}

header nav {

  height: 60px;

  line-height: 60px;

  width: 100%;

}

header nav .container {

  display: flex;

  justify-content: space-between;

}

header nav ul {

  list-style: none;

  display: flex;

}

header nav ul li {

  margin-left: 20px;

}

.nav-bar {

  position: absolute;

  top: 50px;

  left: 590px;

  width: 60px;

  height: 2px;

  background-color: #3D58F3;

  transition: all .2s linear;

}

header .intro {

  padding: 130px 0;

}

header .intro p {

  width: 300px;

  line-height: 20px;

}

header .intro button {

  background-color: #3D58F3;

  padding: 10px 20px;

  border-radius: 150px;

  font-size: 1.3rem;

  border: none;

  margin-top: 30px;

  transition: all .2s linear;

}

header .intro button:hover {

  opacity: .5;

}
